<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="server=10.86.222.210\sql2017;database=PRODUCT_HOPLUCNS_HIS;user id=sa;password=P@ssword;Connect Timeout=300;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>